# Per-project `repo upload` hook settings.
# https://android.googlesource.com/platform/tools/repohooks

[Options]
ignore_merged_commits = true

[Builtin Hooks]
pylint3 = true
cpplint = true

[Builtin Hooks Options]
# Bypass cpplint check for autogen-ed header files from cbindgen.
cpplint = --exclude=apps/system/interfaces/*Bindings.h ${PREUPLOAD_FILES}
